body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(121, 34, 34), rgb(121, 34, 34) )
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo-img {
    max-width: 100px;
    margin-right: 20px;

}

.logo-text {
    color: rgb(53, 7, 53);
    font-size: 24px;
    line-height: 1.2;
}

h1, h2 {
    text-align: center;
    color: rgb(189, 46, 46);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:rgb(240, 234, 234);
    box-shadow: 0 0 10px rgb(189, 46, 46);
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
button {
    /* Caixas de texto e botão*/
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid solid;
    border-radius: 5px;
}

button {
    /* botao*/
    background-color: darkmagenta;
    color: pink;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:white;
}


ul#output {
    /* lista*/
    list-style-type: none;
    padding: 0;
}

ul#output li {
    background: rgb(153, 33, 33);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

p {
    color:rgb(155, 29, 29)
}

label {
    color: rgb(143, 20, 20)
}

option {
    color: #26164b;
}

img {
    width: 100px;
    position: relative;
}

logo {
    color: #021614;
}